﻿@model Web_V3.Models.Tag

@using (Html.BeginForm())
{

    <fieldset>
        <legend>Add Tag</legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

    </fieldset>
}