﻿@model Web_V3.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountID)
    </div>
</fieldset>

<fieldset>
    <legend>Tag</legend>
    @foreach(var tag in Model.Tags)
    { 
        <div class="display-field">
        @Html.DisplayFor(x => tag.Content)
    </div>
    }
</fieldset>



@Html.Partial("_addComment", new Web_V3.Models.Comment(), ViewData);

<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
    {
        <div class="display-field">
            Tác giả: @Html.DisplayFor(x => comment.Author)
        </div>
        <div class="display-field">
            <h3>Cách đây: @Html.DisplayFor(x => comment.LastTime) phút</h3>
        </div>
        <div class="display-field">
            @Html.DisplayFor(x => comment.Body)
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
