﻿@model Project_final.Models.Tag

@{
    ViewBag.Title = "English Free For Everyone";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
    <b>Post:</b>
    @foreach(var p in Model.BaiViets)
    {
    <div class="display-field">
        @Html.ActionLink(p.TenBaiViet, "Details", new { Controller = "BaiViet", action = "Details", id = p.ID })
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
