﻿@model Project_final.Models.BaiHoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BaiHoc</legend>

    <div class="display-label">
        <b>Tên bài học</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenBH)
    </div>
        <fieldset>
            @foreach (var rate in Model.DanhGias)
            {
                 <div class="display-field">
                  Đánh giá: @Html.DisplayFor(x => rate.Diem)
                 </div>
            }
        </fieldset>

    <div class="display-label">
        <b>Nội Dung</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>
    <div class="display-label">
        <b>Loại bài học</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiBaiHocs.LoaiBH)
    </div>
</fieldset>
@Html.Partial("_addDanhGia", new Project_final.Models.DanhGia(), ViewData)

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
