﻿body

.body {
	margin: 0px;
	padding: 0px;
	background: url(Images/h1.jpg) repeat left top;
	font: 13px Arial, Helvetica, sans-serif;
	color: #212121;
}

.h1, h2, h3 {
	margin-top: 0px;
}

.h1 {
	font-size: 2.4em;
}

.h2 {
	font-size: 1.8em;
}

.h3 {
	font-size: 1.4em;
}

.p, .ol, .ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

.a {
	color: #393939;
}

.a:hover {
	text-decoration: none;
	color: #393939;
}

.a img {
	border: none;
}

/* Header */

#header {
	width: 900px;
	height: 130px;
	margin: 0px auto;
}

#header .a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Logo */

#logo {
	float: left;
	padding-left: 50px;
	background: url(Images/img02.gif) no-repeat left 100%;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #393939;
}

#logo p {
	padding-left: 3px;
}

#logo h1 {
	padding: 25px 0px 0px 0px;
}

#logo a {
	color: #393939;
}

/* Menu */

#menu {
	float: right;
	margin: 30px 0 0 0;
}

#menu ul {
	margin: 0px 0 0 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin: 0px 0px 0px 1px;
}

#menu a {
	display: block;
	width: auto;
	height: 28px;
	padding: 8px 20px 0px 20px;
	background: #393939;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first {
	background: none;
}

#menu .active a {
}

/* Page */

#page {
	width: 900px;
	margin: 0px auto;
	padding: 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 570px;
}

.post {
	margin: 0px 0px 30px 0px;
}

.post .title {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: #BFC9AE dashed 1px;
	color: #232F01;
}

.post .title a {
	color: #232F01;
}

.post .entry {
}

.post .meta {
	font-weight: bold;
}

.post .byline {
	margin: 0px;
	color: #5E5E5E;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar-bgtop {
	height: 3px;
}

#sidebar-bgbtm {
	height: 3px;
}

#sidebar-content {
	padding: 20px;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#sidebar li ul {
	margin-bottom: 1.8em;
	list-style: none;
}

#sidebar li li {
	padding: 5px 0;
	border-bottom: #BFC9AE dashed 1px;
}

#sidebar h2 {
	padding: 4px 20px;
	background: #393939;
	font-size: 1.2em;
	color: #FFFFFF;
}

#sidebar a {
	text-decoration: none;
	color: #232F01;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Search */

#search {
}

#search form {
	margin-bottom: 1.8em;
	padding: 0px;
}

#search fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
}

#search #s {
	width: 160px;
}

/* Footer */

#footer {
	clear: both;
	width: 900px;
	height: 50px;
	margin: 0px auto 30px auto;
	color: #FFFFFF;
	background: #393939;
}

#footer p {
	margin: 0px;
	padding: 19px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: smaller;
}

#footer a {
	color: #FFFFFF;
}