﻿@model QL_Account.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>
</fieldset>

<fieldset>
    <legend>Tag</legend>
    
    @foreach (var tag in Model.Tags)
    {
        @*<div class="display-field">
                @Html.DisplayFor(x=>tag.Content)
            </div>*@
        <div class="display-field">
            @Html.ActionLink(tag.Content.ToString(), "Index", "Post")
        </div>
    }
</fieldset>


@Html.Partial("_addComment", new QL_Account.Models.Comment(), ViewData);

<fieldset>
    <legend>Comment</legend>
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
        {
            <div class="display-field">
                Tác giả: @Html.DisplayFor(x => comment.Author)
            </div>
            <div class="display-field">
                <h3>Cách đây: @Html.DisplayFor(x => comment.LastTime) phút</h3>
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => comment.Body)
            </div>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
