﻿@model Project_final.Models.DanhGia

@{
    ViewBag.Title = "English Free For Everyone";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DanhGia</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.BaiHocID, "BaiHocs")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BaiHocID", String.Empty)
            @Html.ValidationMessageFor(model => model.BaiHocID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Diem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diem)
            @Html.ValidationMessageFor(model => model.Diem)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
