﻿@model Project_final.Models.BinhLuan

@using (Html.BeginForm("Create", "BinhLuan", new { idbaiviet = ViewData["idbaiviet"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BinhLuan</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TacGia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TacGia)
            @Html.ValidationMessageFor(model => model.TacGia)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
