﻿@model Project_final.Models.DanhGia

@using (Html.BeginForm("Create", "DanhGia", new { idbaiviet = ViewData["idbaihoc"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DanhGia</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Diem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diem)
            @Html.ValidationMessageFor(model => model.Diem)
        </div>

        <p>
            <input type="submit" value="Đánh giá" />
        </p>
    </fieldset>
}
