﻿@model Project_final.Models.BaiHoc

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BaiHoc</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TenBH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBH)
            @Html.ValidationMessageFor(model => model.TenBH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayDang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayDang)
            @Html.ValidationMessageFor(model => model.NgayDang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfileID)
            @Html.ValidationMessageFor(model => model.UserProfileID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoaiBaiHocID, "LoaiBaiHocs")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LoaiBaiHocID", String.Empty)
            @Html.ValidationMessageFor(model => model.LoaiBaiHocID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
