﻿@model Project_final.Models.LoaiBaiHoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LoaiBaiHoc</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiBH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiBH)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
