﻿@model Project_final.Models.BinhLuan

@{
    ViewBag.Title = "English Free For Everyone";
}

<h2>Details</h2>

<fieldset>
    <legend>BinhLuan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TacGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TacGia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BaiViets.TenBaiViet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaiViets.TenBaiViet)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
