﻿@model Project_final.Models.BaiViet

@{
    ViewBag.Title = "English Free For Everyonels";
}

<h2>Details</h2>

<fieldset>
    <legend>BaiViet</legend>

    <div class="display-label">
        <b>Tên bài viết</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenBaiViet)
    </div>

    <div class="display-label">
        <b>Nội Dung</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
        <b>Ngày tạo</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>
</fieldset>

<fieldset>
    <legend>Tag</legend>

    @foreach (var tag in Model.Tags)
    {
        <div class="display-field">
            @Html.ActionLink(tag.Content.ToString(), "Details", new { Controller="Tag",action="Details",id=tag.ID})
        </div>
    }
</fieldset>


@Html.Partial("_addBinhLuan", new Project_final.Models.BinhLuan(), ViewData);

<fieldset>
    <legend>Comment</legend>
    <div id="result">
        @foreach (var comment in Model.BinhLuans.OrderByDescending(x => x.NgayTao).Take(10))
        {
            <div class="display-field">
                Tác giả: @Html.DisplayFor(x => comment.TacGia)
            </div>
            <div class="display-field">
                <h3>Cách đây: @Html.DisplayFor(x => comment.LastTime) phút</h3>
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => comment.NoiDung)
            </div>
        }
    </div>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
