﻿@model Project_final.Models.BaiHoc

@{
    ViewBag.Title = "English Free For Everyone";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BaiHoc</legend>

        <div class="editor-label">
           <b>Tên bài học</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBH)
            @Html.ValidationMessageFor(model => model.TenBH)
        </div>

        <div class="editor-label">
            <b>Nội Dung</b>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>
        <div class="editor-label">
            <b>Loại bài học</b>
        </div>
        <div class="editor-field">
            @Html.DropDownList("LoaiBaiHocID", String.Empty)
            @Html.ValidationMessageFor(model => model.LoaiBaiHocID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
