﻿@model Project_final.Models.BaiHoc

@{
    ViewBag.Title = "English Free For Everyone";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BaiHoc</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenBH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenBH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayDang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayDang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiBaiHocs.LoaiBH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiBaiHocs.LoaiBH)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
