﻿@model Project_final.Models.BaiHoc

@{
    ViewBag.Title = "English Free For Everyone";
}

<h2>Bài Học</h2>

<fieldset>
    <legend>BaiHoc</legend>

    @*<div class="display-label">
        <>Tên bài học</>
    </div>*@
    <div class="display-field">
        <h3>@Html.DisplayFor(model => model.TenBH)</h3>
    </div>
        
    <div class="display-label">
        <b>Nội Dung</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>
    <div class="display-label">
        <b>Loại bài học</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiBaiHocs.LoaiBH)
    </div>
    <fieldset>
        @foreach (var rate in Model.DanhGias.OrderByDescending(x => x.Diem).Take(1))
        {
            <div class="display-field">
                <b>Đánh giá: @Html.DisplayFor(x => rate.Diem)</b>
            </div>
        }
    </fieldset>


</fieldset>
@Html.Partial("_addDanhGia", new Project_final.Models.DanhGia(), ViewData)

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
